* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
  }
  
  body {
          background-image:  url('/assets/images/img.signin.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed; 
            background-size:  cover; 
            background-position: left;
        }
  .fundo {
   display: block;
   position: absolute;
   top: 35%;
   right: calc(70% - 100px);
   border: 1px solid #ddd;
   border-radius: 20%;
   margin-right: -50px; 
   padding: 10px;
   width: 300px;

}

  .container {
    display: flex;
    justify-content: right;
    width: 88%;
    margin-top: 200px;
  }
  
  .card {
    background-color: #ffffff80;
    padding: 30px;
    border-radius: 4%;
    box-shadow: 3px 3px 1px 0px #00000060;
    max-width: 400px;
  }
  
  .Bemvindo {
    color: rgba(123, 35, 143, 0.993);
    font-family: cursive; 
    font-size: 5vw;
    margin: 20px; 
    position: absolute; 
    top: 110px; 
    left: 5vw;
    text-shadow: 
    -1px -1px 0 #f24545,  
    1px -1px 0 #557bf8,
    -1px 1px 0 #f75ec9,
    1px 1px 0 #cef75e; 
}

  h2 {
    font-family:sans-serif, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #f75ec9,
    1px 1px 0 #000; 
    
    color: white;
    position: absolute; 
    top: 0; 
    width: 100%; 
    background-color: #eeeeeea2; 
    text-align: center;
  }

  h1{ 
    text-align: center;
    margin-bottom: 20px;
    color: #272262
  }
  
  .label-float input{
    width: 100%;
    padding: 5px 5px;
    display: inline-block;
    border: 0;
    border-bottom: 2px solid #272262;
    background-color: transparent;
    outline: none;
    min-width: 180px;
    font-size: 16px;
    transition: all .3s ease-out;
    border-radius: 0;
    
  }
  
  .label-float{
    position: relative;
    padding-top: 13px;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  
  .label-float input:focus{
    border-bottom: 2px solid #4038a0;
  }
  
  .label-float label{
    color: #272262;
    pointer-event: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 13px;
    transition: all .3s ease-out;
  }
  
  .label-float input:focus + label,
  .label-float input:valid + label{
    font-size: 13px;
    margin-top: 0;
    color: #4038a0
  }
  
  button{
    background-color: transparent;
    border-color: #272262;
    color: #272262;
    padding: 7px;
    font-weight: bold;
    font-size: 12pt;
    margin-top: 20px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    transition: all .4s ease-out;
  }
  
  button:hover{
    background-color: #272262;
    color: #fff;
  }
  
  .justify-center{
    display: flex;
    justify-content: center;
  }
  
  hr{
    margin-top: 10%;
    margin-bottom: 10%;
    width: 60%;
  }
  
  p{
    color: #272262;
    font-size: 14pt;
    text-align: center;
  }
  
  a{
    color: #7a3077;
    font-weight: bold;
    text-decoration: none;
    transition: all .3s ease-out;
  }
  
  a:hover{
    color: #272262;
  }
  
  .icon {
    position: absolute;
    top: 15px;
    right: 5px;
    cursor: pointer;
  }
  
   #msgError{
    text-align: center;
    color: #ff0000;
    background-color: #ffbbbb;
    padding: 10px;
    border-radius: 4px;
    display: none;
   }

   @media only screen and (max-width: 768px) {
    .container {
    padding: 5vw;
    }

    .card {
      max-width: 90%; 
      padding: 35px; 
    }

    .Bemvindo {
      font-size: 10vw;
      top:  80px;
      left: -20px;
      width: 100%; 
      text-align: center
    }

    h2 {
      font-size: 4vw;
    }

    .fundo {
      padding: 2vw; 
      top: 160vw; 
      right: 22vw;
      text-align: center;
      border: 1px solid #fff; 
      border-radius: 20%; 
    }
   }
      